@page "/a"
<h3>Welcome to Kart Racer</h3>
<br />
<p>Kart Racer is a go kart strategy simulation game where you et up kart and see how you go against everyone else.</p>
<p>Sessions are run at times throughout the week and you can see who enters what event.</p>
<br />
<MudToolBar Class="gap-4">
    <MudButton Variant="Variant.Filled" Href="account/registration" Color="Color.Primary">Register</MudButton>
    <MudSpacer />
    <MudButton Variant="Variant.Text" Href="account/login" Color="Color.Secondary">Login</MudButton>
</MudToolBar>
 


@code {
    protected override void OnInitialized()
    {
        string a = "a";
    }
}
